In [6]:
import numpy as np
import pandas as pd

In [7]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [8]:
import nltk

In [136]:
dataset = pd.read_csv('spam.csv', sep=",",encoding='ISO-8859-1')
dataset.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [137]:
dataset.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis=1,inplace=True)
dataset.columns = ['Label','SMS']

In [138]:
dataset.head()

  Label                                                SMS
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [139]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   5572 non-null   object
 1   SMS     5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [140]:
dataset['Label'] = dataset['Label'].replace('ham',0)
dataset['Label'] = dataset['Label'].replace('spam',1)

In [141]:
dataset.head()

   Label                                                SMS
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [142]:
dataset.groupby('Label').count()

        SMS
Label
0      4825
1       747

In [143]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [144]:
def remove_punctuation(txt):
    txt_nopunct = "".join([c for c in txt if c not in string.punctuation])
    return txt_nopunct

In [145]:
dataset['SMS'] = dataset['SMS'].apply(lambda x: remove_punctuation(x))
dataset.head()

   Label                                                SMS
0      0  Go until jurong point crazy Available only in ...
1      0                            Ok lar Joking wif u oni
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0        U dun say so early hor U c already then say
4      0  Nah I dont think he goes to usf he lives aroun...

In [146]:
import re
def tokenize(txt):
    tokens = re.split('\W+', txt)
    return tokens

In [147]:
dataset['SMS'] = dataset['SMS'].apply(lambda x: tokenize(x.lower()))
dataset.head()

   Label                                                SMS
0      0  [go, until, jurong, point, crazy, available, o...
1      0                     [ok, lar, joking, wif, u, oni]
2      1  [free, entry, in, 2, a, wkly, comp, to, win, f...
3      0  [u, dun, say, so, early, hor, u, c, already, t...
4      0  [nah, i, dont, think, he, goes, to, usf, he, l...

In [148]:
stopwords = nltk.corpus.stopwords.words('english')
stopwords[:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [149]:
def remove_stopwords(txt):
    for sent in txt:
        if(sent in stopwords):
            i = txt.index(sent)
            txt[i] = ''
    return txt

In [150]:
dataset['SMS'] = dataset['SMS'].apply(lambda x: remove_stopwords(x))
dataset.head()

   Label                                                SMS
0      0  [go, , jurong, point, crazy, available, , , bu...
1      0                     [ok, lar, joking, wif, u, oni]
2      1  [free, entry, , 2, , wkly, comp, , win, fa, cu...
3      0  [u, dun, say, , early, hor, u, c, already, , say]
4      0  [nah, , dont, think, , goes, , usf, , lives, a...

In [151]:
from nltk.stem import WordNetLemmatizer

In [152]:
wordnet_lemmatizer = WordNetLemmatizer()
def lemmatization(token_txt):
    text = [wordnet_lemmatizer.lemmatize(word) for word in token_txt]
    return text

In [153]:
dataset['SMS'] = dataset['SMS'].apply(lambda x : lemmatization(x))
dataset.head()

   Label                                                SMS
0      0  [go, , jurong, point, crazy, available, , , bu...
1      0                     [ok, lar, joking, wif, u, oni]
2      1  [free, entry, , 2, , wkly, comp, , win, fa, cu...
3      0  [u, dun, say, , early, hor, u, c, already, , say]
4      0  [nah, , dont, think, , go, , usf, , life, arou...

In [130]:
def conver_toString(txt):
    for sent in txt:
        print(sent)
        break
        #sent = " ".join(sent)
    #return txt|

In [154]:
dataset.head()

   Label                                                SMS
0      0  [go, , jurong, point, crazy, available, , , bu...
1      0                     [ok, lar, joking, wif, u, oni]
2      1  [free, entry, , 2, , wkly, comp, , win, fa, cu...
3      0  [u, dun, say, , early, hor, u, c, already, , say]
4      0  [nah, , dont, think, , go, , usf, , life, arou...

In [162]:
SMS_array = dataset['SMS']
SMS_array

0       [go, , jurong, point, crazy, available, , , bu...
1                          [ok, lar, joking, wif, u, oni]
2       [free, entry, , 2, , wkly, comp, , win, fa, cu...
3       [u, dun, say, , early, hor, u, c, already, , say]
4       [nah, , dont, think, , go, , usf, , life, arou...
                              ...
5567    [, , , 2nd, time, , , tried, 2, contact, u, u,...
5568               [, ì, b, going, , esplanade, fr, home]
5569            [pity, , , mood, , , soany, , suggestion]
5570    [, guy, , , bitching, , , acted, like, id, , i...
5571                             [rofl, , true, , , name]
Name: SMS, Length: 5572, dtype: object

In [163]:
new_SMSarray = []
for sent in SMS_array:
    sent = " ".join(sent)
    new_SMSarray.append(sent)

In [164]:
new_SMSarray[:10]

['go  jurong point crazy available   bugis n great world la e buffet cine  got amore wat',
 'ok lar joking wif u oni',
 'free entry  2  wkly comp  win fa cup final tkts 21st may 2005 text fa  87121  receive entry questionstd txt ratetcs apply 08452810075over18s',
 'u dun say  early hor u c already  say',
 'nah  dont think  go  usf  life around  though',
 'freemsg hey  darling   3 week    word back id like  fun     still tb ok xxx std chgs  send å 150  rcv',
 'even  brother   like  speak    treat  like aid patent',
 ' per  request melle melle oru minnaminunginte nurungu vettam   set   callertune   caller press 9  copy  friend callertune',
 'winner   valued network customer    selected  receivea å 900 prize reward  claim call 09061701461 claim code kl341 valid 12 hour ',
 '  mobile 11 month   u r entitled  update   latest colour mobile  camera  free call  mobile update co free  08002986030']

In [167]:
dataset['cleaned_SMS'] = new_SMSarray
dataset.head()

,Label,SMS,cleaned_SMS
0,0,"[go, , jurong, point, crazy, available, , , bu...",go jurong point crazy available bugis n gre...
1,0,"[ok, lar, joking, wif, u, oni]",ok lar joking wif u oni
2,1,"[free, entry, , 2, , wkly, comp, , win, fa, cu...",free entry 2 wkly comp win fa cup final tkt...
3,0,"[u, dun, say, , early, hor, u, c, already, , say]",u dun say early hor u c already say
4,0,"[nah, , dont, think, , go, , usf, , life, arou...",nah dont think go usf life around though

In [106]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [182]:
countMatrix = cv.fit_transform(dataset['cleaned_SMS'])

In [183]:
countMatrix = countMatrix.toarray()
countMatrix.shape

(5572, 8829)

In [185]:
countMatrix[:,:10]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [189]:
df = pd.DataFrame(data = countMatrix,columns = cv.get_feature_names_out())
df.head()

,008704050406,0089my,0121,01223585236,01223585334,0125698789,02,020603,0207,02070836089,...,ìï,ìïll,ûthanks,ûªm,ûªt,ûªve,ûï,ûïharry,ûò,ûówell
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [199]:
finalDf = pd.DataFrame(data = dataset['Label'],columns = ['Label'])
finalDf = pd.concat([finalDf,df],axis = 1)
finalDf.head()

,Label,008704050406,0089my,0121,01223585236,01223585334,0125698789,02,020603,0207,...,ìï,ìïll,ûthanks,ûªm,ûªt,ûªve,ûï,ûïharry,ûò,ûówell
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [107]:
from sklearn.model_selection import train_test_split

In [200]:
X_data, y_data = finalDf.iloc[:, 1:], finalDf['Label']

In [201]:
X_train, X_test, y_train, y_test = train_test_split(X_data, y_data,
                                                    test_size = 0.3, random_state = 0)

In [202]:
from sklearn import svm

In [206]:
SVC = svm.SVC()
SVC.fit(X_train,y_train)

SVC()

In [207]:
SVC.score(X_test,y_test)

0.9712918660287081